/* Author: Himanshu Garg 
 Company: Dezine studio */


body {
	background-color: #f4f4f4;
	border-top: solid #090909 10px;
}

/* ---------------------HEADER-TOP STYLE STARTS FROM HERE------------------------- */


.header-top {
	margin:20px 0px;
	height: 100px;
}

.header-top .logo, footer .logo {
	position: relative;
	width: 200px;
	height:100px;
}

.header-top .logo {
float: left;
}

.header-top .menu {
	height: 100px;
	width:740px;
	float: right;
}

.logo .large-circle {
	background: #fe9b00;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	position: absolute;

}

.logo span {
	font-size: 85px;
	color: #f4f4f4;
	font-family: Myriad Pro;
	text-transform: uppercase;
	position: absolute;
	margin-left: 20px;
	line-height: 96px;
} 

.logo .small-circle {
	width: 78px;
	height: 78px;
	background: #fec600;
	opacity: 0.4;
	border-radius: 50px;
	position: absolute;
	margin-left: 60px;
	margin-top: 11px;

}

.logo h1 {
	color: #090909;
	font-size: 20px;
	font-weight: 900;
	font-family: Myriad Pro;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	position: absolute;
	margin-left: 80px;
	margin-top: 30px;
	width: 105px;
}

.menu span {
	float: right;
	font-family: arial;
	font-size: 13px;
	color: #999898;
}
.menu nav {
	float: right;
	clear: right;
	margin-top: 25px;
}

.menu nav ul, footer nav ul{
	list-style: none;
	font-size: 12px;
	font-weight: bold;
	font-family: arial;

}

.menu nav ul {
text-transform: uppercase;
}

.menu nav ul li {
	display: inline;
	padding: 0px 60px 0px 0px;
}

.menu nav ul li:last-child {
	display: inline;
	padding: 0px 0px 0px 0px;
}

.menu nav ul li a{
	color: #fbbc77;
}

.menu nav .selected, .menu nav ul li a:hover {
	color: #090909;
	text-decoration: none;
}


/* ---------------------HEADER-BOTTOM STYLE STARTS FROM HERE------------------------- */



.header-bottom {
	height: 420px;
	border-top: solid #c0c0c0 1px;
	border-bottom: solid #c0c0c0 1px;
}

.header-bottom .banner {
	background: #fe9b00;
	height: 380px;
	margin: 20px 0px;
	position: relative;
}

.banner h2 {
	padding-top: 40px;
	padding-left: 30px;
	color: #f4f4f4;
	font-size: 85px;
	font-family: Myriad Pro;
	text-transform: uppercase;
	line-height: 70px;
	letter-spacing: 9px;
	font-weight: bold;
	width: 470px;
	margin: 0px;
	position: absolute;
	
}

.banner .box {
	width: 445px;
	background: #090909;
	margin-bottom: 45px;
	margin-left: 30px;
	margin-top: 280px;
	padding: 15px 15px;
	position: absolute;
	
}

.box span, .box a{
	color: #999898;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: arial;
}

.box a, footer .logo {
	float: right;	
}

.box a:hover, .body-content a:hover {
	text-decoration: none;
	color: #fe9b00;
}

.body-content h3:before, .body-content a:before, .portfolio h3:before , .blog-connect h4:before, .box a:after{
	content: 'g';
	font-family: "Wingdings 3";
	margin-right: 15px;
	text-transform: none;
}

.box a:after {
padding-left: 5px;
}

.banner .image1 {
	margin-left: 500px;
	margin-top: 74px;
	position: absolute;
	width: 304px;
}

.banner .image2 {
	margin-left: 613px;
	margin-top: 14px;
	position: absolute;
	width: 327px;
}



/* ---------------------BODY-CONTENT STYLE STARTS FROM HERE------------------------- */



.body-content {
	padding-bottom: 20px;
	border-bottom: solid #c0c0c0 1px;
}

.body-content h3 {
	padding-top: 5px;
	padding-bottom: 10px;
	border-bottom: solid #090909 5px;
}

.body-content h3, .portfolio h3 {
	font-size: 18px;
}

.blog-connect h4 {
	font-size: 12px;
}

.body-content h3, .portfolio h3 , .blog-connect h4{
	font-family: arial;
	text-transform: uppercase;
	font-weight: bold;
	color: #090909;
	margin-top: 25px;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

.body-content p, .body-content a, .body-content ul, .body-content span, .blog-connect p, footer span{
	font-size: 12px;
	color: #5d5d5d;
	font-family: arial;
	line-height: 25px;
}

.body-content a {
	font-weight: bold;
	text-transform: uppercase;
}

.body-content a:before , .blog-connect h4:before{
	font-size: 12px;
}

.body-content a:hover:before {
color: #090909;
}

.body-content h3:before, .portfolio h3:before {
	font-size: 15px;
}

.body-content ul {
	list-style: none;
	padding-left: 0px;
	line-height: 20px;
}

.body-content ul li
{
background-image: url(../img/check-box.jpg);
background-repeat: no-repeat;
background-position: 0px 5px; 
padding-left: 25px; 
}

.body-content ul li {
	margin-bottom: 20px;
}

.body-content span{
	color: #090909;
	font-style: italic;
}

.body-content .italic{
	margin-bottom: 30px
}


/* ---------------------PORTFOLIO STYLE STARTS FROM HERE------------------------- */



.portfolio {
	padding-bottom: 40px;
	border-bottom: solid #c0c0c0 1px;
}

.portfolio img {
	display: block;
	width: 100%;
	height: auto;
	background: rgba(0,0,0,0.5);
}

.image {
	margin: 0;
	position: relative;
}

.image-title {
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	color: #fff;
	text-transform: uppercase;
	padding: 25px;
	opacity: 0;
}

.image:hover .image-title {opacity: 1;}

.image-title h5 { 
	text-align: center;
	margin-top: 35px;
}

/* ---------------------BLOG-CONNECT STYLE STARTS FROM HERE------------------- */


.blog-connect {
	padding-top: 5px;
	padding-bottom: 50px;
}

/* First Method */

.blog-connect img {
	padding-right: 15px;
	opacity: 0.85;
}

.blog-connect img:hover {opacity: 1;}


/* Second Mehod - har ek link me background image(light wali) set kr alag alag or hover psuedo class me background image change kr(dark wali) */



/* ---------------------FOOTER STYLE STARTS FROM HERE------------------------- */

footer {
	background-color: #e2e2e2;
}

footer .logo{
	margin-top: 25px;
}
footer .logo .large-circle {
	width: 75px;
	height: 75px;
}

footer .logo span {
	font-size: 64px;
	line-height: 72px;
	margin-left: 15px;
}

footer .logo .small-circle {
	width: 59px;
	height: 59px;
	margin-left: 45px;
}

footer .logo h1 {
	font-size: 15px;
	letter-spacing: 1.9px;
	margin-left: 60px;
	margin-top: 23px;
	width: 79px;
}
footer nav ul {
	padding-top: 30px;
	padding-left: 0px;
}
footer nav ul li {
	display: inline;
}

footer nav ul li:after {
	content: '|';
	margin-left: 5px;
	margin-right: 5px;
	color: #5d5d5d;
}

footer nav ul li:last-child:after {
	content: none;
}

footer nav ul li a {
	color: #5d5d5d;
}

footer nav ul li a:hover {
	color: #090909;
	text-decoration: none;
}